.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

a {
    padding: 0 1vh;
    color:black;
    text-decoration: none;
}

.close {
    
    margin-left:1.3rem;
    font-size: 1rem
}

span{cursor: pointer;}